
body {
  padding-top: 56px;
}
/* Fondos */
.bgFondo1 {
 background-image: url(../img/Backgrounds/portada1.png);
 height: 560px;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}

.bgFondo2 {
  background-image: url(../img/Backgrounds/portada2.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgFondo3 {
  background-image: url(../img/Backgrounds/portada3.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgWhite {
  background-color: white;
  height: 100%;
  width: 100%;
}

.text-colorear{
  background-color: #FFA46B;
}

.espacio{
 height: 50px;
}

.loguito{
  height: 125px;
 }


/* Svg´s Logos */

.svg {
  width: 80px;

}

.svgfooter {
  width: 45px;
}

.svgNegro {
  width: 200px;
}

.colorearBlanco {
  fill: white !important;
  color: white !important;
}

.colorearNegro {
  fill: black !important;
  color: black !important;
}

/*Cambios Varios*/

.titulo {
  font-weight: lighter;
  color: #fff;
}
