
body {
  padding-top: 56px;
}
/* Fondos */
.bgFondo1 {
 background-image: url(../img/Backgrounds/portada1.png);
 height: 560px;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}

.bgFondo2 {
  background-image: url(../img/Backgrounds/portada2.png);
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bgFondo3 {
  background-image: url(../img/Backgrounds/portada3.png);
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bgWhite {
  background-color: white;
  height: auto;
  width: 100%;
}

.text-colorear{
  background-color: #ffa46b;
  margin-top: 50%;
}

.espacio{

  /* height: 25px; */

}

.loguito{
  width: 125px;
 }

hr{
  border-top: 5px solid #fff !important;
}

/* Svg´s Logos */

.svg {
  width: 80px;

}

.svg2 {
  width: 160px;
}

/*Iconos*/

i {
  font-size: 70px;
  color: #0C7D83;
}

/*Cambios Varios*/

.titulo {
  font-weight: lighter;
  color: #fff;
}

.btn {
  margin-top: 20px;
}
